<div class="container">
  <h1 id="logo">Flickr Flickr Hurra</h1>
  <%= render 'search' %>
  <p>Go to <%=link_to "idGettr", "http://idgettr.com/" %> to get the Flickr ID</p>
  <%= render 'search_results' %>
</div>
